### Alternate elements of an array

Given an array arr[], the task is to print every alternate element of the array starting from the first element.

In [1]:
def printAlternate(arr):
    for i in range(0,len(arr),2):
        print(arr[i], end = " ")

In [2]:
 arr = [10, 20, 30, 40, 50]

In [3]:
printAlternate(arr)

10 30 50

### Largest element in an Array

In [4]:
def printLargest(arr):
    me = arr[0]
    for i in range(1, len(arr)):
        if arr[i] > me:
            me = arr[i]
    
    print("Largest Element: ",me)

In [5]:
arr = [20, 10, 30, 4, 30, 100]
printLargest(arr)

Largest Element:  100

### Second Largest Element in an Array

In [6]:
def printSecondLargest(arr):
    le, sle = arr[0], arr[0]
    
    for i in arr:
        if i > le:
            sle = le
            le = i
        elif i > sle and i < le:
            sle = i
    
    print("Largest Element: ", le)
    print("Second Element: ", sle)

In [7]:
printSecondLargest(arr)

Largest Element:  100
Second Element:  30

### Largest three distinct elements in an array

In [8]:
def printLargest3Distinct(arr):
    fl, sl, tl = arr[0], arr[0], arr[0]
    
    for e in arr:
        if e > fl:
            tl = sl
            sl = fl
            fl = e
        elif e > sl and e < fl:
            tl = sl
            sl = e
        elif e > tl and e < sl and e < fl:
            tl = e
            
    print("Largest Element: ", fl)
    print("Second Largest Element: ", sl)
    print("Third Largest Element :", tl)

In [10]:
printLargest3Distinct(arr)

Largest Element:  100
Second Largest Element:  30
Third Largest Element : 20

### Leaders in an array

Given an array arr[] of size n, the task is to find all the Leaders in the array. An element is a Leader if it is greater than or equal to all the elements to its right side.

Note: The rightmost element is always a leader.

In [19]:
def printLeaders(arr):
    n = len(arr)
    me = -1
    res = []
    for i in range(n-1, -1, -1):
        if arr[i] > me:
            me = arr[i]
            res.append(me)
    res.reverse()
    return res

In [20]:
arr = [16, 17, 4, 3, 5, 2]
res = printLeaders(arr)
print(res)

[17, 5, 2]

### Check if an Array is Sorted

Given an array of size n, the task is to check if it is sorted in ascending order or not. Equal values are allowed in an array and two consecutive equal values are considered sorted.

In [21]:
def checkSorted(arr):
    n = len(arr)
    for i in range(n-2,-1,-1):
        if arr[i] > arr[i+1]:
            return False
    return True

In [23]:
arr = [20, 23, 203, 45, 78, 88]
checkSorted(arr)

False

### Remove duplicates from Sorted Array

Given a sorted array arr[] of size n, the goal is to rearrange the array so that all distinct elements appear at the beginning in sorted order. Additionally, return the length of this distinct sorted subarray.

Note: The elements after the distinct ones can be in any order and hold any value, as they donâ€™t affect the result.

In [25]:
def removeDups(arr):
    i, j = 0, 1
    while j < len(arr):
        if arr[i] != arr[j]:
            i += 1
            arr[i] = arr[j]
        j = j + 1
    
    print(arr[:i+1])

In [26]:
arr = [1, 2, 2, 3, 4, 4, 4, 5, 5]
removeDups(arr)

[1, 2, 3, 4, 5]

### Generating All Subarrays
Given an array arr[], the task is to generate all the possible subarrays of the given array.

Examples: 

Input: arr[] = [1, 2, 3]

Output: [ [1], [1, 2], [2], [1, 2, 3], [2, 3], [3] ]

In [41]:
def genrateSubarrays(arr):
    res = []
    n = len(arr)
    for i in range(n):
        sub_arr = []
        for j in range(i,n):
            sub_arr.append(arr[j])
            # print(sub_arr)
            res.append(sub_arr.copy())
    
    print(res)

In [42]:
arr = [1, 2, 3, 4]
genrateSubarrays(arr)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [2], [2, 3], [2, 3, 4], [3], [3, 4], [4]]

### Array Reverse

In [47]:
def reverse_Arr(arr):
    i, j = 0, len(arr) - 1
    
    while i <= j:
        arr[i], arr[j] = arr[j], arr[i]
        i += 1
        j -= 1
        
    print(arr)

In [48]:
arr = [1, 4, 3, 2, 6, 5]
reverse_Arr(arr)

[5, 6, 2, 3, 4, 1]

### Rotate an Array â€“ Clockwise or Right

In [54]:
def rotateArr(arr, d):
    arr.reverse()
    arr[0:d] = reversed(arr[0:d])
    arr[d:len(arr)] = reversed(arr[d:len(arr)])
    
    print(arr)

In [55]:
arr = [1, 2, 3, 4, 5, 6]
rotateArr(arr, 2)

[5, 6, 1, 2, 3, 4]

### Rotate an Array by d â€“ Counterclockwise or Left

In [12]:
def rotateArrCC(arr, d):
    arr[0:d] = reversed(arr[0:d])
    arr[d:] = reversed(arr[d:])
    
    arr.reverse()
    print(arr)

In [13]:
arr = [1, 2, 3, 4, 5, 6]
rotateArrCC(arr,2)

[3, 4, 5, 6, 1, 2]

### Move all zeros to end of array

In [56]:
def movezeros(arr):
    i, j = 0, 0
    
    while j < len(arr):
        if arr[j] != 0:
            arr[i] = arr[j]
            i += 1
        j += 1
        
    for k in range(i, len(arr)):
        arr[k] = 0
    
    print(arr)

In [57]:
arr = [1, 2, 0, 4, 3, 0, 5, 0]
movezeros(arr)

[1, 2, 4, 3, 5, 0, 0, 0]

### Minimum increment by k operations to make all equal

In [62]:
def find_min_op(arr, k):
    me = arr[0]
    for i in arr:
        if i > me:
            me = i
    
    res = 0
    for i in arr:
        if (me - i) % k == 0:
            res = res + (me - i)// k
        else:
            return -1
    return res

In [63]:
arr = [21, 33, 9, 45, 63] 
find_min_op(arr, 6)

24

### Minimum cost to make array size 1 by removing larger of pairs
Given an array of n integers. We need to reduce size of array to one. We are allowed to select a pair of integers and remove the larger one of these two. This decreases the array size by 1. Cost of this operation is equal to value of smallest one. Find out minimum sum of costs of operations needed to convert the array into a single element.


Input: 4 3 2 

Output: 4

Explanation: Choose (4, 2) so 4 is removed, new array = {2, 3}. Now choose (2, 3) so 3 is removed.  So total cost = 2 + 2 = 4

In [65]:
def min_cost(arr):
    return min(arr)*(len(arr) - 1)

In [66]:
a = [ 4, 3, 2 ]
min_cost(a)

4

### Two Pointers Technique

### Two Sum - Pair sum in sorted array

In [3]:
def twoSum(arr, target):
    i, j  = 0, len(arr) - 1
    
    while i < j:
        if arr[i] + arr[j] == target:
             return arr[i], arr[j]
        elif arr[i] + arr[j] < target:
            i += 1
        else:
            j -= 1
    
    return None

In [4]:
numbers = [2, 7, 11, 15]
target = 9

twoSum(numbers, target)

(2, 7)

### Two Sum â€“ Pair Closest to 0

In [11]:
def closesttozero(arr):
    minsum = float("inf")
    arr.sort()
    print(arr)
    pair = None
    i, j  = 0, len(arr) - 1
    
    while i < j:
        s =  abs(arr[i] + arr[j])
        if s < minsum:
            minsum = s
            pair = (arr[i], arr[j])
            print(pair)
            i += 1
        elif s > minsum:
            j -= 1
        else:
            if sum(pair) < s:
                pair = (arr[i], arr[j])
                print(pair)
    return pair

In [12]:
arr = [1, 60, -10, 70, -80, 85]
closesttozero(arr)

[-80, -10, 1, 60, 70, 85]
(-80, 85)

(-80, 85)

### 3 Sum â€“ Triplet Sum in Array

In [10]:
def tripletsum1(arr, target):
    st = set()
    n = len(arr)
    for i in range(0, n-2):
        first = arr[i]
        
        for j in range(i+1, n):
            second = arr[j]
            third = target - first - second
            
            if third in st:
                print("Triplet is: ", first, " ", second, " ", third)
                return True
            st.add(second)
    return None

In [11]:
arr = [1, 4, 45, 6, 10, 8]
target = 13
tripletsum1(arr, target)

Triplet is:  1   8   4

True

In [14]:
def tripletsum2(arr, target):
    n = len(arr)
    arr.sort()
    
    for i in range(0,n-2):
        l = i + 1
        r = n - 1
        
        first = arr[i]
        while l < r:
            second = arr[l]
            third = arr[r]
            
            if first + second + third == target:
                print("Triplet is: ", first, " ", second, " ", third)
                return True
            elif first + second + third < target:
                l += 1
            else:
                r -= 1
    return False

In [15]:
arr = [1, 4, 45, 6, 10, 8]
target = 13
tripletsum2(arr, target)

Triplet is:  1   4   8

True

### 4 Sum â€“ Check if a Quadruple with given Sum Exists in an Array

In [16]:
def quadruplesum(arr, target):
    n = len(arr)
    arr.sort()
    
    for i in range(0, n-3):
        first = arr[i]
        for j in range(i+1, n-2):
            second = arr[j]
            l = j+1
            r = n-1
            
            while l < r:
                third = arr[l]
                fourth = arr[r]
                
                if first + second + third + fourth == target:
                    print("Quadraple is: ", first, " ", second, " ", third, " ", fourth)
                    return True
                elif first + second + third + fourth < target:
                    l += 1
                else:
                    r -= 1
    return False

In [17]:
arr = [10, 20, 30, 40, 1, 2]
target = 91
quadruplesum(arr, target)

Quadraple is:  1   20   30   40

True

### Trapping Rain Water Problem â€“ Tutorial with Illustrations

Trapping Rainwater Problem states that given an array of n non-negative integers arr[] representing an elevation map where the width of each bar is 1, compute how much water it can trap after rain.

![Trapping Rain Water](..//images//Trapping-Rain-Water-Problem.png)

Input: arr[] = [3, 0, 1, 0, 4, 0, 2]

Output: 10

In [18]:
def trapwater1(arr):
    n = len(arr)
    res = 0
    for i in range(1,n-1):
        
        left = arr[i]
        for j in range(0,i):
            left = max(left, arr[j])
        
        right = arr[j]
        for j in range(i+1, n):
            right = max(right, arr[j])
        
        res = res + min(left, right) - arr[i]
    
    return res

In [20]:
arr = [3, 0, 1, 0, 4, 0, 2]
trapwater1(arr)

10

The approach is mainly based on the following facts:

If we consider a subarray arr[left...right], we can decide the amount of water either for arr[left] or arr[right] if we know the left max (max element in arr[0...left-1]) and right max (max element in arr[right+1...n-1].

If left max is less than the right max, then we can decide for arr[left]. Else we can decide for arr[right]

If we decide for arr[left], then the amount of water would be left max - arr[left] and if we decide for arr[right], then the amount of water would be right max - arr[right].

In [26]:
def trapwater2(arr):
    l = 1
    r = len(arr) - 2
    
    lmax = arr[l - 1]
    rmax = arr[r + 1]
    
    res = 0
    while l <= r:
        
        if rmax <= lmax:
            res = res + max(0, rmax - arr[r])
            rmax = max(rmax, arr[r])
            r = r - 1
        else:
            res = res + max(0, lmax - arr[l])
            lmax = max(lmax, arr[l])
            l = l + 1
            
    return res

In [27]:
arr = [3, 0, 1, 0, 4, 0, 2]
trapwater2(arr)

10

### Prefix Sum Array â€“ Implementation and Applications in Competitive Programming

Given an array arr[] of size n, the task is to find the prefix sum of the array. A prefix sum array is another array prefixSum[] of the same size, such that prefixSum[i] is arr[0] + arr[1] + arr[2] . . . arr[i].

Input: arr[] = [10, 20, 10, 5, 15]

Output: 10 30 40 45 60

Explanation: For each index i, add all the elements from 0 to i:

prefixSum[0] = 10, 

prefixSum[1] = 10 + 20 = 30, 

prefixSum[2] = 10 + 20 + 10 = 40 and so on.

In [30]:
def prefixsum(arr):
    ps = []
    cs = 0
    for i in arr:
        cs = cs + i
        ps.append(cs)
    
    return ps

In [31]:
arr = [10, 20, 10, 5, 15]
prefixsum(arr)

[10, 30, 40, 45, 60]

### Maximum value in an array after m range increment operations

Consider an array of size n with all initial values as 0. We need to perform the following m range increment operations.


increment(a, b, k) : Increment values from â€˜aâ€™  to â€˜bâ€™ by â€˜kâ€™.    


After m operations, we need to calculate the maximum of the values in the array.


Examples : 


Input : n = 5 m = 3 

           a = 0, b = 1, k = 100 
           
           a = 1, b = 4, k = 100
           
           a = 2, b = 3, k = 100
           
           
Output : 200

Explanation:

Initially array = {0, 0, 0, 0, 0}

After first operation: {100, 100, 0, 0, 0}

After second operation: {100, 200, 100, 100, 100}

After third operation {100, 200, 200, 200, 100}

Maximum element after m operations is 200.

#### Maximum occurring integer in given ranges

Given two arrays L[] and R[] of size N where L[i] and R[i] (0 ? L[i], R[i] < 106)denotes a range of numbers, the task is to find the maximum occurred integer in all the ranges. If more than one such integer exists, print the smallest one. 

Examples: 


Input: L[] = {1, 4, 3, 1}, R[] = {15, 8, 5, 4}
Output: 4

In [33]:
def max_occouring(L, R, n):
    mp = {}
    i = 0
    while i < n:
        if L[i] not in mp:
            mp[L[i]] = 1
        else:
            mp[L[i]] += 1
        if R[i] not in mp:
            mp[R[i]] = 1
        else:
            mp[R[i]] += 1
        i += 1
    me = None
    mv = 0
    
    for k,v in mp.items():
        if v > mv:
            mv = v
            me = k
    
    return me

In [35]:
L = [1, 4, 9, 13, 21]
R = [15, 8, 12, 20, 30]
n = len(L)

max_occouring(L, R, n)

1

### Equilibrium Index

Given an array arr[] of size n, the task is to return an equilibrium index (if any) or -1 if no equilibrium index exists. The equilibrium index of an array is an index such that the sum of all elements at lower indexes equals the sum of all elements at higher indexes.

Note: When the index is at the start of the array, the left sum is 0, and when itâ€™s at the end, the right sum is 0.

In [36]:
def find_eq_index(arr):
    ps = arr[0]
    ts = sum(arr)
    for i in range(1, len(arr)-1):
        ss = ts - ps - arr[i]
        if ss == ps:
            return i
        ps = ps + arr[i]
    
    return -1

In [37]:
arr = [1, 7, 3, 6, 5, 6]
find_eq_index(arr)

3

### Subarray with 0 sum

In [43]:
# python3 program to find if
# there is a zero sum subarray


def subArrayExists(arr, N):
    # traverse through array
    # and store prefix sums
    n_sum = 0
    s = set()

    for i in range(N):
        n_sum += arr[i]

        # If prefix sum is 0 or
        # it is already present
        if n_sum == 0 or n_sum in s:
            return True
        s.add(n_sum)
        print(s)

    return False


# Driver's code
if __name__ == '__main__':
    arr = [8, 1, 2, -3, 71]
    N = len(arr)

    # Function call
    if subArrayExists(arr, N) == True:
        print("Found a subarray with 0 sum")
    else:
        print("No Such sub array exits!")

{8}
{8, 9}
{8, 9, 11}
Found a subarray with 0 sum

### Maximum subarray size having all subarrays sums less than k

Given an array of positive integers arr[] of size n, and an integer k. The task is to find the maximum subarray size such that all subarrays of that size have sum less than or equals to k.

In [47]:
def max_subarray(arr, k):
    i, j = 0, 0
    
    cs = 0
    minLen = n+1
    
    while j < len(arr):
        cs = cs + arr[j]
        j += 1
        
        while cs > k:
            minLen = min(minLen, j - i)
            cs -= arr[i]
            i += 1
    
    res = minLen - 1
    if res == 0:
        return -1
    else:
        return res

In [48]:
arr = [1, 2, 3, 4]
k = 8

max_subarray(arr, k)

2

### Maximum product of a triplet (subsequence of size 3) in array

In [4]:
def maxProductOfTriplet(arr):
    l1,l2,l3 = arr[0], arr[0], arr[0]
    
    m1, m2 = arr[0], arr[0]
    
    for i in arr:
        if i > l3:
            l1 = l2
            l2 = l3
            l3 = i
        elif i > l2 and i < l3:
            l1 = l2
            l2 = i
        elif i > l1 and i < l2 and i < l3:
            l3 = i
            
    for i in arr:
        if i < m1: 
            m2 = m1
            m1 = i
        elif i < m2 and i > m1:
            m2 = i
    
    return max((m1*m2*l3), (l1*l2*l3))

In [5]:
arr = [-10, -3, 5, 6, -20]
maxProductOfTriplet(arr)

1200

### Maximum consecutive oneâ€™s (or zeros) in a binary array

In [6]:
def maxOnes(arr):
    cc, mc = 0, 0
    
    for i in arr:
        if i == 1:
            cc = cc + 1
            mc = max(cc, mc)
        if i == 0:
            cc = 0
    return mc

In [7]:
arr = [1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1]
maxOnes(arr)

4

### Reverse an Array in groups of given size

In [10]:
def reverse_arr_in_groups(arr, k):
    i = 0
    n = len(arr)
    
    while i < n:
        start = i
        end = min(i + k -1, n-1)
        
        while(start < end):
            arr[start], arr[end] = arr[end], arr[start]
            
            start += 1
            end -= 1
        
        i = i + k
    
    return arr

In [11]:
arr = [1, 2, 3, 4, 5, 6, 7, 8] 
reverse_arr_in_groups(arr, 3)

[3, 2, 1, 6, 5, 4, 8, 7]

### Sort an array in wave form

In [24]:
def sortWave(arr):
    for i in range(0, len(arr), 2):
        if i > 0 and arr[i] < arr[i - 1]:
            arr[i-1], arr[i] = arr[i], arr[i-1]
        if i < len(arr)-1 and arr[i] < arr[i + 1]:
            arr[i], arr[i+1] = arr[i+1], arr[i]
    print(arr)

In [25]:
arr = [10, 90, 49, 2, 1, 5, 23]
sortWave(arr)

[90, 10, 49, 1, 5, 2, 23]

### Adding one to number represented as array of digits

In [34]:
def add1toarr(arr):
    c = 0
    res = 0
    d = 0
    n = len(arr)
    for i in range(n-1, -1, -1):
        if i == n-1:
            arr[i] = arr[i] + 1
        else: 
            arr[i] += c
        if arr[i] == 10:
            arr[i] = 0
            c = 1
        else:
            c = 0
        
        res = res + arr[i] * pow(10,d)
        d += 1
        
    if c == 1:
        res = res + c * pow(10,d)
    
    return res

In [35]:
arr = [9, 9, 9]
add1toarr(arr)

1000

In [36]:
arr = [1, 3, 9, 9, 9]
add1toarr(arr)

14000

### Stock Buy and Sell â€“ Max one Transaction Allowed

Given an array prices[] of length N, representing the prices of the stocks on different days, the task is to find the maximum profit possible by buying and selling the stocks on different days when at most one transaction is allowed. Here one transaction means 1 buy + 1 Sell.

Input: prices[] = {7, 10, 1, 3, 6, 9, 2}
Output: 8

Explanation: Buy for price 1 and sell for price 9.

In [37]:
def stock_buy_sel(arr):
    cp, max_profit = arr[0], 0
    for i in arr:
        if i > cp:
            profit = i - cp
            max_profit = max(max_profit, profit)
        else:
            cp = i
    return max_profit

In [38]:
prices = [7, 10, 1, 3, 6, 9, 2]
stock_buy_sel(prices)

8

### Finding sum of digits of a number until sum becomes single digit

In [41]:
def get_sum(n):
    s = 0
    while n > 0:
        r = n%10
        s = s + r
        n = n//10
    
    return s

def find_ultimate_sum(n):
    s = get_sum(n)
    return s%9

In [43]:
find_ultimate_sum(5764)

4

### Remove duplicates from Sorted Array

In [44]:
def remove_duplicates(arr):
    i, j = 0, 1
    
    while j < len(arr):
        if arr[i] != arr[j]:
            i = i + 1
            arr[i] = arr[j]
        j = j + 1
        
    return arr[:i + 1]

In [45]:
arr = [2, 2, 2, 2, 2]
remove_duplicates(arr)

[2]

In [46]:
arr = [1, 2, 2, 3, 4, 4, 4, 5, 5]
remove_duplicates(arr)

[1, 2, 3, 4, 5]

### Rearrange Array Elements by Sign

In [50]:
def rotate_arr_right(arr, start, end):
    temp = arr[end]
    for i in range(end -1, start, -1):
        arr[i + 1] = arr[i]
    arr[start] = temp

def rearrange(arr):
    n = len(arr)
    for i in range(n):
        if arr[i] >= 0 and i%2 == 1:
            j = i+1
            while j < n:
                if arr[j] < 0:
                    rotate_arr_right(arr, i, j)
                    break
                j += 1
        elif arr[i] < 0 and i %2 == 0:
            j = i+1
            while j < n:
                if arr[j] >= 0:
                    rotate_arr_right(arr, i, j)
                    break
                j += 1
    print(arr)

In [51]:
arr = [1, 2, 3, -4, -1, 4]

rearrange(arr)

[1, -4, 3, -1, 4, 4]

In [54]:
def rearrange2(arr):
    pa = []
    na = []
    for i in arr:
        if i < 0:
            na.append(i)
        else:
            pa.append(i)
    p, n = 0, 0
    for i in range(len(arr)):
        if i %2 == 0 and p < len(pa):
            arr[i] = pa[p]
            p += 1
        elif i %2 == 1 and n < len(na):
            arr[i] = na[n]
            n += 1
    
    print(arr)

In [55]:
arr = [1, 2, 3, -4, -1, 4]

rearrange2(arr)

[1, -4, 2, -1, 3, 4]

### Insert an adjacent duplicate for all occurrences of a given element

In [67]:
def adj_dup(arr, k):
    i = 0
    while i < len(arr):
        if arr[i] == k:
            arr.insert(i + 1, k)
            i = i + 1
            arr.pop()
        i += 1
    return arr

In [68]:
arr = [1, 0, 2, 3, 0, 4, 5, 0]
adj_dup(arr, 0)

[1, 0, 0, 2, 3, 0, 0, 4]

####  O(n) Time and O(n) Space

In [78]:
def dup_adj(arr, k):
    res = []
    for i in arr:
        if i == k:
            res.append(i)
            arr.pop()
        res.append(i)
    return res

In [79]:
arr = [1, 0, 2, 3, 0, 4, 5, 0]
dup_adj(arr, 0)

[1, 0, 0, 2, 3, 0, 0, 4]

In [80]:
arr

[1, 0, 2, 3, 0, 4]

####  O(n) Time and O(1) Space

In [92]:
def dup_arr2(arr, k):
    c = arr.count(k)
    n = len(arr)
    curr = n-1
    write_idx = n + c -1
    
    while curr >= 0 and write_idx >= 0:
        if write_idx < n:
            arr[write_idx] = arr[curr]
        
        write_idx -= 1
        
        if arr[curr] == k:
            if write_idx < n:
                arr[write_idx] = k
            write_idx -= 1
        
        curr -= 1
        print(arr)
        
    return arr

In [94]:
arr = [1, 0, 2, 3, 0, 4, 5, 0]
dup_arr2(arr, 0)

[1, 0, 2, 3, 0, 4, 5, 0]
[1, 0, 2, 3, 0, 4, 5, 0]
[1, 0, 2, 3, 0, 4, 5, 4]
[1, 0, 2, 3, 0, 0, 0, 4]
[1, 0, 2, 3, 3, 0, 0, 4]
[1, 0, 2, 2, 3, 0, 0, 4]
[1, 0, 0, 2, 3, 0, 0, 4]
[1, 0, 0, 2, 3, 0, 0, 4]

[1, 0, 0, 2, 3, 0, 0, 4]

### Missing ranges

In [97]:
def missing_ranges(arr, l, u):
    n = len(arr)
    res = []
    for i in range(n):
        if i == 0 and l < arr[i]:
            res.append([l,arr[i] - 1])
        elif arr[i] - arr[i - 1] != 1:
            res.append([arr[i-1] + 1, arr[i] - 1])
    if arr[n - 1] < u:
        res.append([arr[n - 1] + 1, u])
        
    return res

In [98]:
arr = [14, 15, 20, 30, 31, 45]
missing_ranges(arr, 10, 50)

[[10, 13], [16, 19], [21, 29], [32, 44], [46, 50]]

### Next Permutation

In [101]:
def next_per(arr):
    
    n = len(arr)
    pivot_idx = -1
    
    for i in range(n-2, -1, -1):
        if arr[i] < arr[i+1]:
            pivot_idx = i
            break
    if pivot_idx == -1:
        arr.reverse()
        return
    
    
    for i in range(n-1, pivot_idx, -1):
        if arr[i] > arr[pivot_idx]:
            arr[i], arr[pivot_idx] = arr[pivot_idx], arr[i]
            break
    
    l, r = pivot_idx + 1, n - 1
    while l < r:
        arr[l], arr[r] = arr[r], arr[l]
        l += 1
        r -= 1

    return arr

In [103]:
arr = [ 2, 4, 3, 7, 5, 1, 0 ]
next_per(arr)

[2, 4, 5, 0, 1, 3, 7]

### Majority Element
Given an array arr. Find the majority element in the array. If no majority exists, return -1. A majority element in an array is an element that appears strictly more than arr.size() / 2 times in the array.

In [104]:
def find_me(arr):
    me, c = -1, 0
    
    for i in arr:
        if c == 0:
            me = i
            c += 1
        elif i == me:
            c += 1
        else:
            c -= 1
    
    if c >= 1:
        return me
    return -1

In [106]:
arr = [1, 1, 2, 1, 3, 5, 1]
find_me(arr)

1

### Majority Element II â€“ Elements occurring more than [N/3] times

In [121]:
 def me_2(arr):
        me1, me2 = -1, -1
        c1, c2 = 0, 0
        n = len(arr)
        
        for i in arr:
            if c1 == 0:
                me1 = i
                c1 += 1
            elif i == me1:
                c1 += 1
            elif i != me1 and c2 == 0:
                me2 = i
                c2 += 1
            elif i == me2:
                c2 += 1
            elif i != me1 and i != me2:
                c1 -= 1
                c2 -= 1
        print(me1, c1)
        print(me2, c2)
            
        if c1 > 0 and c2 > 0:
            return [me1, me2]
        elif c1 > 0:
            return me1
        elif c2 > 0:
            return me2
        else:
            return -1

In [122]:
arr = [2, 2, 3, 1, 3, 2, 1, 1]
me_2(arr)

2 1
1 1

[2, 1]

### Stock Buy and Sell â€“ Multiple Transaction Allowed

In [133]:
def stock_bns(arr):
    bp = arr[0]
    total_profit = 0
    for i in range(1, len(arr)):
        if arr[i] > arr[i-1]:
            total_profit += arr[i] - arr[i - 1]
    return total_profit

In [134]:
prices = [100, 180, 260, 310, 40, 535, 695]
stock_bns(prices)

865

### Maximum Subarray Sum â€“ Kadaneâ€™s Algorithm

In [137]:
def max_suarray_sum(arr):
    max_so_far = 0
    curr_max = 0
    
    for i in arr:
        curr_max = max(curr_max + i, i)
        max_so_far = max(max_so_far, curr_max)
    return max_so_far

In [138]:
arr = [2, 3, -8, 7, -1, 2, 3]
max_suarray_sum(arr)

11

### Maximum Product Subarray

In [143]:
def max_product_subarray(arr):
    curr_max = arr[0]
    curr_min = arr[0]
    max_so_far = arr[0]
    
    for i in range(1, len(arr)):
        temp = max(arr[i], curr_max * arr[i], curr_min * arr[i])
        curr_min = min(arr[i], curr_max * arr[i], curr_min * arr[i])
        
        curr_max = temp
        max_so_far = max(max_so_far, curr_max)
    
    return max_so_far

In [144]:
arr = [-2, 6, -3, -10, 0, 2]
max_product_subarray(arr)

180

In [147]:
def max_product_subarray2(arr):
    max_pro = float("-inf")
    
    l2r = 1
    r2l = 1
    n = len(arr)
    
    for i in range(n):
        if l2r == 0:
            l2r = 1
        if r2l == 0:
            r2l = 1
        
        l2r *= arr[i]
        r2l *= arr[n - i -1]
        
        max_pro = max(l2r, r2l, max_pro)
    
    return max_pro

In [148]:
arr = [-2, 6, -3, -10, 0, 2]
max_product_subarray2(arr)

180

### Product of Array Except Self

In [151]:
def pa_xself(arr):
    pa = 1
    c0 = 0
    res = []
    
    for i in arr:
        if i == 0:
            c0 += 1
        else:
            pa *= i
    
    for i in arr:
        if i == 0 and c0 > 1:
            res.append(0)
        elif i == 0 and c0 == 1:
            res.append(pa)
        elif i != 0:
            if c0 > 0:
                res.append(0)
            else:
                res.append(pa//i)
    
    return res

In [152]:
arr = [10, 3, 5, 6, 2]
pa_xself(arr)

[180, 600, 360, 300, 900]

In [153]:
arr = [10, 0]
pa_xself(arr)

[0, 10]

### Split array into three equal sum segments

In [156]:
def split_arr(arr):
    total_sum  = sum(arr)
    if total_sum % 3 == 0:
        res = []
        curr_sum = 0
        for i in range(len(arr)):
            curr_sum += arr[i]
            if curr_sum ==  total_sum//3:
                res.append(i)
                curr_sum = 0
            if len(res) == 2:
                break
        
        return res
    else:
        return [-1, -1]

In [157]:
arr = [1, 3, 4, 0, 4]
split_arr(arr)

[1, 2]

### Maximum Consecutive Ones After Flipping Zeroes

Given a binary array arr[] and an integer k, find the maximum length of a subarray containing all ones after flipping at most k zeroes to 1â€™s.

In [166]:
def max_cons_ones(arr, k):
    res = 0
    n = len(arr)
    for i in range(n-1):
        count = 0
        if arr[i] == 0:
            count += 1
        for j in range(i + 1, n):
            if arr[j] == 0:
                count += 1
            
            if count <= k:
                #print(i, j)
                res = max(res, j - i  + 1)
    return res

In [167]:
arr = [1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1]
k = 2
max_cons_ones(arr, k)

8

In [170]:
def max_cons_ones2(arr, k):
    start, end = 0, 0
    count = 0
    res = 0
    while end < len(arr):
        if arr[end] == 0:
            count += 1
        
        if count <= k:
            res = max(res, end - start + 1)
        else:
            while count > k:
                if arr[start] == 0:
                    count -= 1
                start += 1
        
        end += 1
    
    return res

In [171]:
arr = [1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1]
k = 2
max_cons_ones2(arr, k)

8

### Common Slot for Meeting of Two Persons
You are given two lists of availability time slots, slt1[][] and slt2[][], for two people. Each slot is represented as [start, end], and it is guaranteed that within each list, no two slots overlap (i.e., for any two intervals, either start1>end2 or start2>end1).

Given a meeting duration d, return the earliest common time slot of length at least d. If no such slot exists, return an empty array.

In [185]:
def common_slot(slt1, slt2, d):
    slt1.sort(key = lambda x: x[0])
    slt2.sort(key = lambda x: x[0])
    
    p1, p2 = 0, 0
    res = []
    
    while p1 < len(slt1) and p2 < len(slt2):
        
        start = max(slt1[p1][0], slt2[p2][0])
        end = min(slt1[p1][1], slt2[p2][1])
        
        print(start, end)
        
        if end - start >= d:
            # print([start, start + d])
            return [start, start + d]
        
        if slt1[p1][1] > slt2[p2][1]:
            p2 += 1
        else: 
            p1 += 1
    
    return res

In [186]:
slt1 = [[10, 50], [60, 120], [140, 210]]
slt2 = [[0, 15], [60, 70]]
d = 8

common_slot(slt1, slt2, d)

10 15
60 50
60 70

[60, 68]

### Longest Mountain Subarray

In [190]:
def largest_nountain_subb(arr):
    
    n = len(arr)
    res = 0
    for i in range(n):
        j = i + 1
        inc, dec = 0, 0
        while j < n and arr[j] > arr[j-1]:
            inc = 1
            j += 1
        while j < n and arr[j] < arr[j-1]:
            dec = 1
            j += 1
        
        if inc and dec:
            res = max(res, j - i)
    
    return res

In [191]:
d = [1, 3, 1, 4, 5, 6, 7, 8, 9, 8, 7, 6, 5]
largest_nountain_subb(d)

11

In [198]:
def largest_nountain_subb2(arr):
    res = 0
    i = 1
    n = len(arr)
    while i < n -1:
        if arr[i] > arr[i-1] and arr[i] > arr[i+1]:
            count = 0
            j = i
            while j > 0 and arr[j] > arr[j-1]:
                count += 1
                j -= 1
            while i < n-1 and arr[i] > arr[i+1]:
                count += 1
                i += 1

            res = max(res, count)
        else:
            i += 1
    if res > 0:
        return res + 1
    else:
        return res

In [199]:
largest_nountain_subb2(d)

11

### Minimum Swaps required to group all 1â€™s together

In [200]:
def min_swaps(arr):
    total_ones = arr.count(1)
    if total_ones == 0:
        return -1
    min_swap = float("inf")
    n = len(arr)
    for i in range(0, n-total_ones+1):
        current_ones = sum(arr[i:i+total_ones])
        min_swap = min(min_swap, total_ones - current_ones)
    return min_swap

In [201]:
arr = [1, 0, 1, 0, 1]
min_swaps(arr)

1

In [202]:
def min_swaps2(arr):
    total_ones = arr.count(1)
    if total_ones == 0:
        return -1
    
    max_ones, curr_ones = 0, 0
    
    curr_ones = arr[:total_ones].count(1)
    
    
    for i in range(1, len(arr) - total_ones + 1):
        
        if arr[i-1] == 1:
            curr_ones -= 1
        if arr[i+total_ones - 1] == 1:
            curr_ones += 1
        if max_ones < curr_ones:
            max_ones = curr_ones
    
    return total_ones - max_ones

In [203]:
arr = [1, 0, 1, 0, 1]
min_swaps2(arr)

1

### Minimum number of increment-other operations to make all array elements equal.

In [204]:
def min_ops(arr):
    arr.sort()
    n = len(arr)
    
    res = 0
    while arr[0] != arr[n-1]:
        for i in range(n-1):
            arr[i] += 1
        res += 1
        arr.sort()
    return res

In [207]:
arr = [1, 2, 3]
print(min_ops(arr))

3

In [208]:
def min_ops2(arr):
    total_sum = sum(arr)
    mini = min(arr)
    n = len(arr)
    return total_sum - n*mini

In [209]:
arr = [1, 2, 3]
print(min_ops2(arr))

3